<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>To-Gather</title>
	{{!-- Zurb Foundation CSS --}}
	{{!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css" integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I=" crossorigin="anonymous"> --}}
    <script src="https://code.jquery.com/jquery.js"></script>
	<link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    <h1>TO-GATHER</h1>
    <nav>Nav bar and nav bar items
        <a href="../">Return to the home page</a>
        <a href="../view-events">View events</a>
        <a href="../new-event">Create an event</a>
        <a href="../aboutus">About the developers</a>
    </nav>
	{{{ body }}}
<script src="/assets/js/script.js"></script>
</body>

</html>