<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>To-Gather</title>
	{{!-- Zurb Foundation CSS --}}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css"
		integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I=" crossorigin="anonymous">
	{{!-- our CSS file --}}
	<link rel="stylesheet" href="/assets/css/style.css">

</head>

<body>
	<div data-sticky-container>
		<div class="title-bar" data-sticky data-options="marginTop:0;" style="width:100%">
			<div class="title-bar-left">
				<ul class="menu">
					<h4 id="title-text"><a href="../">To-Gather</a></h4>
					<li><a class="topbarItens" href="../">Home</a></li>
					<li><a class="topbarItens" href="../view-events">Events</a></li>
					<li><a class="topbarItens" href="../new-event">New Event</a></li>
					<li><a class="topbarItens" href="../about-us">About Us</a></li>
				</ul>
			</div>
			<div class="top-bar-right">
				<ul class="dropdown menu" data-dropdown-menu>
					<h6 id="welcomeUser">Welcome, </h6>
					<li>
						<a href="#">User</a>
						<ul class="menu">
							<li><a href="#">Log out</a></li>
							<!-- ... -->
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>


	{{{ body }}}

	{{!-- jQuery --}}
	<script src="https://code.jquery.com/jquery.js"></script>
	{{!-- our JS --}}
	<script src="/assets/js/script.js"></script>
	<!-- Compressed Zurb JavaScript -->
	<script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/js/foundation.min.js"
		integrity="sha256-pRF3zifJRA9jXGv++b06qwtSqX1byFQOLjqa2PTEb2o=" crossorigin="anonymous"></script>
	{{!-- calling foundation js --}}
	<script>$(document).foundation();</script>
</body>

</html>