<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>To-Gather</title>
	{{!-- Zurb Foundation CSS --}}
	{{!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css" integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I=" crossorigin="anonymous"> --}}
	<link rel="stylesheet" href="/assets/css/style.css">

</head>

<body>
    <h1>TO-GATHER</h1>
    <nav>Nav bar and nav bar items
        <a href="../">Return to the home page</a>
    </nav>
	{{{ body }}}

</body>

</html>