<h2>About the team</h2>
<div>
  <div>
    <h4>Misha Gringauze</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis ut in beatae aliquam quas a!</p>
  </div>
  <div>
    <h4>Dion Leung</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis commodi nihil quia iusto quis dolorem.</p>
  </div>
  <div>
    <h4>Yuri Oliveira</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, nulla laborum voluptate assumenda facere deserunt necessitatibus rem tempore libero? Officiis.</p>
  </div>
  <div>
    <h4>Zac Stowell</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed nihil architecto corporis temporibus accusamus?</p>
  </div>
</div>