<br>
<br>
{{ welcome }}
<div class="grid-x">
  <div class="cell small-1 medium-3 large-3 text-center"></div>
  <div class="cell small-10 medium-6 large-6 text-center">
    <h3>Login to get started!</h3>
  </div>
  <div class="cell small-1 medium-3 large-3 text-center"></div>
</div>


<div class="grid-x">
  <div class="cell small-1 medium-3 large-3 text-center"></div>
  <div class="cell small-10 medium-6 large-6 ">
    <form id="login">
      <div class="medium-6 cell">
        <label for="username">Username
          <input type="text" id="username" placeholder="username">
        </label>
      </div>
      <div class="medium-6 cell">
        <label for="password">Password
          <input type="password" id="password" placeholder="your password">
        </label>
      </div>
      <button class="button submit" id="loginBTN">Login</button>
    </form>
  </div>
  <div class="cell small-1 medium-3 large-3 text-center"></div>
</div>


<div class="grid-x">
  <div class="cell small-1 medium-3 large-3"></div>
  <div class="cell small-10 medium-6 large-6">
    <h4 class="text-center">Don't have an account? Create one below:</h4>
    <form id="newAccount">
      <div class="form-group">
        <label for="new-user">New Username:
          <input type="text" id="new-user" name="create-account" placeholder="new username" required>
        </label>
      </div>
      <div class="form-group">
        <label for="new-first">First Name:
          <input type="text" id="new-first" name="create-account" placeholder="first name" required>
        </label>
      </div>
      <div class="form-group">
        <label for="new-last">Last Name:
          <input type="text" id="new-last" name="create-account" placeholder="last name" required>
        </label>
      </div>
      <div class="form-group">
        <label for="new-pass">Create a password:
          <input type="password" id="new-pass" name="create-account" placeholder="new password" required>
        </label>
      </div>
      <div class="form-group">
        <label for="new-pass-confirm">Confirm your password:
          <input type="password" id="new-pass-confirm" name="create-account" placeholder="confirm your password"
            required>
        </label>
      </div>
      <div class="form-group">
        <label for="new-email">Enter your email:
          <input type="email" id="new-email" name="create-account" placeholder="something@somewhere.com" required>
        </label>
      </div>
      <div class="form-group">
        <label for="new-phone">Enter your phone number xxx-xxx-xxxx (optional)
          <input type="tel" placeholder="555-123-6789" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" id="new-phone">
        </label>
      </div>
      <button class="button submit" id="createACC">Create Account</button>
      <button class="button" type="reset" id="resetBTN">Clear all fields</button>

    </form>
  </div>
  <div class="cell small-1 medium-3 large-3"></div>
</div>