<h1>{{welcome}}</h1>

<h2>Login to get started</h2>
<form class="login-form" id="login">

  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" id="username" name="login" required>
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" id="password" name="login" required>
  </div>

  <button type="submit">Login</button>
</form>


<h4>Don't have an account? Create one below:</h4>
<form class="create-form" id="newAccount">

  <div class="form-group">
    <label for="new-user">New username: </label>
    <input type="text" id="new-user" name="create-account" required>
  </div>
  <div class="form-group">
    <label for="new-pass">Create a password: </label>
    <input type="password" id="new-pass" name="create-account" required>
  </div>
  <div class="form-group">
    <label for="new-pass-confirm">Confirm your password: </label>
    <input type="password" id="new-pass-confirm" name="create-account" required>
  </div>
  <div class="form-group">
    <label for="new-email">Enter your email: </label>
    <input type="email" id="new-email" name="create-account" required>
  </div>
  <div class="form-group">
    <label for="new-phone">Enter your phone number (optional)</label>
    <input type="tel" placeholder="678-999-8212" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" id="new-phone" name="create-account">
  </div>
  <button type="submit">Create account</button>
  <button type="reset">Clear all fields</button>
</form>
