<br>
<br>

<div class="grid-x">
  <div class="cell small-1 medium-3 large-3 text-center"></div>
  <div class="cell small-10 medium-6 large-6 text-center">
    <h3>Login failed</h3>
  </div>
  <div class="cell small-1 medium-3 large-3 text-center"></div>
</div>


<div class="grid-x">
  <div class="cell small-1 medium-3 large-3 text-center"></div>
  <div class="cell small-10 medium-6 large-6 ">
    <h3>Try again?</h3>
    {{!-- <form class="create-form" id="create-event">
      <div class="form-group">
        <label for="event-name">Name your event: </label>
        <input type="text" id="event-name" name="new-event" required>
      </div>
      <div class="form-group">
        <label for="event-date">When will it be?: </label>
        <input type="date" id="event-date" name="new-event" required>
      </div>
      <div class="form-group">
        <label for="invitees">How many people are invited?: </label>
        <input type="number" id="invitees" name="new-event" min="1">
      </div>

      <button class="button .submit" id="createEventBTN">Create Event</button>
    </form> --}}
  </div>
  <div class="cell small-1 medium-3 large-3 text-center"></div>
</div>