<h2>View the events!</h2>

<table>
  <tr>
    <th>Event</th>
    <th>Date</th>
    <th>Host</th>
  </tr>
  <tr>
    <td>Running like Naruto</td>
    <td>5/2/2020</td>
    <td>John Doe</td>
  </tr>
  <tr>
    <td>Ski trip</td>
    <td>12/11/2020</td>
    <td>Jane Doe</td>
  </tr>
</table>