{{!-- welcome --}}
<div class="grid-x">
  <div class="cell small-1 medium-3 large-3 text-center"></div>
  <div class="cell small-10 medium-6 large-6 text-center">
    <h2>View the events!</h2>
  </div>
  <div class="cell small-1 medium-3 large-3 text-center"></div>
</div>

<br>
<br>

<div id="events-container" style="display: flex; align-item: center">
  {{#each testEvents}}
  {{> event-entry}}
  {{/each}}
</div>

{{!-- 
<table class="hover">
  <tr>
    <th>Event</th>
    <th>Location</th>
    <th>Date</th>
    <th>Host</th>
  </tr>
  <tr>
  {{#each testEvents}}
    {{> event-entry}}
  {{/each}}
  </tr> --}}


{{!-- <tr>
    <td>Running like Naruto</td>
    <td>5/2/2020</td>
    <td>John Doe</td>
  </tr>
  <tr>
    <td>Ski trip</td>
    <td>12/11/2020</td>
    <td>Jane Doe</td>
  </tr> --}}
</table>


{{!-- 
<h2>Cats that are not sleepy!</h2>

<ul>
  {{#each cats}}
    {{#unless sleepy}}
      {{> cats/cat-block sleep=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Cats that are sleepy!</h2>

<ul>
  {{#each cats}}
    {{#if sleepy}}
      {{> cats/cat-block sleep=false}}
    {{/if}}
  {{/each}}
</ul> --}}


{{!-- events table --}}
<div class="grid-x">
  <div class="cell small-1 medium-1 large-1 "></div>
  <div class="cell small-10 medium-10 large-10 ">
    <table class="hover">
      <thead>
        <tr>
          <th width="200">Event</th>
          <th>Description</th>
          <th width="150">Host</th>
          <th width="150">Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Running like Naruto</td>
          <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
          <td>Joe</td>
          <td>5/2/2020</td>
        </tr>
        <tr>
          <td>Ski trip</td>
          <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
          <td>Jane Doe</td>
          <td>12/11/2020</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="cell small-1 medium-1 large-1 "></div>
</div>
