{{!-- welcome --}}

<select id="event-list">
    {{#each eventList}}
    <option value="{{event_name}}">{{ event_name }} </option>
    {{/each}}



  {{!-- <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="mercedes">Mercedes</option>
  <option value="audi">Audi</option> --}}
</select>


<div class="grid-x">
  <div class="cell small-1 medium-3 large-3 text-center"></div>
  <div class="cell small-10 medium-6 large-6 text-center">
    <h2>View the events!</h2>
  </div>
  <div class="cell small-1 medium-3 large-3 text-center"></div>
</div>

<br>

<div class="grid-x">
  <div class="cell small-1 medium-1 large-1"></div>
  <div class="cell small-10 medium-10 large-10">

    {{#each events}}
    {{> event-entry}}
    {{/each}}
    <br>

  </div>
  <div class="cell small-1 medium-1 large-1"></div>
</div>

{{!-- <div id="events-container" style="display: flex; align-items: center; flex-direction: column;">
  {{#each events}}

{{> event-entry}}
  {{/each}}
</div>

  <div id="events-container" style="display: flex; align-item: center">
    {{#each testEvents}}
    {{> event-entry}}
    {{/each}}
  </div> --}}

{{!-- 
<table class="hover">
  <tr>
    <th>Event</th>
    <th>Location</th>
    <th>Date</th>
    <th>Host</th>
  </tr>
  <tr>
  {{#each testEvents}}
    {{> event-entry}}
  {{/each}}
  </tr> --}}


{{!-- <tr>
    <td>Running like Naruto</td>
    <td>5/2/2020</td>
    <td>John Doe</td>
  </tr>
  <tr>
    <td>Ski trip</td>
    <td>12/11/2020</td>
    <td>Jane Doe</td>
  </tr> --}}
{{!-- </table> --}}


{{!-- 
<h2>Cats that are not sleepy!</h2>

<ul>
  {{#each cats}}
    {{#unless sleepy}}
      {{> cats/cat-block sleep=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Cats that are sleepy!</h2>

<ul>
  {{#each cats}}
    {{#if sleepy}}
      {{> cats/cat-block sleep=false}}
    {{/if}}
  {{/each}}
</ul> --}}


{{!-- events table --}}