body {
  background-color: #03396c;
  color: white;
  font-family: 'Roboto Slab', serif;
}

#resetBTN {
  float: right;
}

#title-text a {
  color: white;
}

#title-text a:hover {
  color: green;
}

/* #newaccBTN {
  /* float: right; */
/* } */

#events-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.thumbnail {
    width: 250px;
    height: 250px;
}

.maincards {
  width: fit-content;
  max-height: 250px;
}

/* #main-background-img {
  height: fit-content;
  background-image: url("./stock photos/mainbackground.jpg");
  background-size: 1000px;
  background-position: center;
  background-repeat: no-repeat;
} */

.card {
  border-radius: 15px;
  background: white;
  border-color: #03396c;
}

.card-divider {
    height: auto;
    background-color: #98FB98;
    border-radius: 15px 15px 0px 0px;
    padding: 0;
    /* padding-top: 10px;   */
    /* padding-left: 20px; */
    /* padding-bottom: 10px; */
}

.name-event-buttons {
  padding: 10px;
}

.topbarItens {
  margin-top: 5px;
  color: white;
}

#welcomeUser {
  margin-right: 5px;
  margin-top: 8px;
}

.title-bar {
  background-color: #011f4b;
  /* opacity: 0.8; */
}

.top-bar-right {
  margin-right: 30px;
}

footer {
  padding: 30px;
  background-color: black;
  /* position: fixed; */
  width: 100%;
  text-align: center;
}

.event-name-card {
  padding-left: 5px;
  font-size: 35px;
  /* background: salmon; */
}

.button {
  border-radius: 6px;
}

.edit-event-button, .delete-event-button {
  float: right;
  margin-right: 10px;
  /* margin-bottom: 5px; */
}
.delete-task-button, .edit-task-button, .delete-cost-button, .edit-cost-button {
  margin-left: 14px;
}

.card-content {
font-size: 18px;
padding-left: 24px;
}

.card-content-below {
  padding-left: 24px;
}

.form-stuff {
  color: white;
}

.countdown-timer {
  font-size: 32px;
  font-weight: bolder;
}

.aboutUS {
  margin: 20px;
}