body {
  background-color: rgb(187, 41, 25);
}

#resetBTN {
<<<<<<< HEAD
  float: right;
}

#title-text a {
  color: white;
}

#title-text a:hover {
  color: green;
}
=======
    float: right;
}

#welcomeUser {
    margin-right: 5px;
    margin-top: 8px;
}
>>>>>>> development
